/* .my_header{
    ;
} */
body {
    
background: rgb(233,215,223);
background: radial-gradient(circle, rgba(233,215,223,1) 0%, rgba(148,187,233,1) 100%);

}
/* header{
    background: rgb(134,147,222);
background: linear-gradient(0deg, rgba(134,147,222,1) 94%, rgba(240,172,172,1) 100%);
} */
header{
    background-color: white;
}
.my_button{
    border-radius: 12px;
    background-color: #85AFD0;
}

.my_footer{
    background-color: khaki;
    height: 60px;
    padding-top: 20px;
}